/*!MAIN STYLES*/
:root {
    --background-first: #ff7c22;
    --background-second: #ffe600;
    --transparency-very-high: rgba(255,255,255,0.1);
    --transparency-high: rgba(255,255,255,0.2);
    --transparency-medium:rgba(255,255,255,0.4);
    --transparency-low: rgba(255, 255, 255, 0.5);
    --transparency-very-low: rgba(255, 255, 255, 0.644);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(to bottom right, var(--background-second) 0%, var(--background-first) 100%);
}
html{
    scroll-behavior: smooth;
    user-select: none;
}

/*!NAWIGATION*/
.nav{
    z-index: 10;
    top: 0;
    position: sticky;
    padding: 10px 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.2);
    letter-spacing: 4px;
}
.nav-list{
    margin: 0;
    padding: 0;
    list-style:none;
    text-align:center;
    display: flex;
    justify-content: center;
}
.list-item{
    width: 20%;
}
.navItem{
    color: #fff;
    text-decoration: none;
    position: relative;
}
.groupContNavItem{
    position: relative;
}
.slider{
    height: 3px;
    background: #fff;
    transition: .8s ease-in-out;
    position: absolute;
    bottom: 0px;
}

/*!MAIN THREE CONTAINERS*/
.groupCont, .thirdplacesCont, .koCont{
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
.groupCont{
    padding: 20px 10% 40px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background: linear-gradient(to bottom right, var(--background-second) 0%, var(--background-first) 100%);
}
.thirdplacesCont{
    padding: 50px 0 20px;
    background: linear-gradient(to top right, var(--background-second) 0%, var(--background-first) 100%);
    /*     background: linear-gradient(to bottom right, var(--background-first) 0%, rgba(255, 124, 34, 0.738) 19%, rgba(255, 124, 34, 0.541) 34%, rgba(255, 124, 34, 0.382) 47%, rgba(255, 124, 34, 0.278) 56.5%, rgba(255, 124, 34, 0.194) 65%, rgba(255, 124, 34, 0.126) 73%, rgba(255, 124, 34, 0.075) 80.2%, rgba(255, 124, 34, 0.042) 86.1%, rgba(255, 124, 34, 0.021) 91%, rgba(255, 124, 34, 0.08) 95.2%, rgba(255, 124, 34, 0.002) 98.2%, transparent 100%);*/
}
.koCont{
    padding: 40px 0;
    row-gap: 30px;
    background: linear-gradient(to bottom right, var(--background-second) 0%, var(--background-first) 100%);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
      "sq q s fi"
      "sq1 q1 s1 f"
      "sq2 q1 s1 f"
      "sq3 q2 s1 f"
      "sq4 q2 s1 f"
      "sq5 q3 s2 f"
      "sq6 q3 s2 f"
      "sq7 q4 s2 f"
      "sq8 q4 s2 f"
      "button button button button";
}

/*!FINAÅY - TEMPLATE*/
.koGame{
    background-color: rgba(236, 236, 236, 0.432);
    border-radius: 20px;
    width: 60%;
    height: 110px;
    display: flex;
    flex-direction: column;
}
.koLevel{
    /*position: sticky;
    top: 50px;*/
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.koOneSixteen {grid-area: sq;}
.koOneQuaterfinal {grid-area: q;}
.koOneSemifinal {grid-area: s;}
.koOneFinal {grid-area: fi;}
.sq1 { grid-area: sq1; }
.sq2 { grid-area: sq2; }
.sq3 { grid-area: sq3; }
.sq4 { grid-area: sq4; }
.sq5 { grid-area: sq5; }
.sq6 { grid-area: sq6; }
.sq7 { grid-area: sq7; }
.sq8 { grid-area: sq8; }
.q1 { grid-area: q1; }
.q2 { grid-area: q2; }
.q3 { grid-area: q3; }
.q4 { grid-area: q4; }
.s1 { grid-area: s1; }
.s2 { grid-area: s2; }
.f { grid-area: f; }
#submit3 {grid-area: button}

/*!GROUPS STYLES*/
.group, .thirdplacesGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 20px;
}
.group{
    height: 275px;
}
.thirdplacesGroup{
    height: 405px;
    margin-top: 100px;
}

/*!GROUP ELEMENTS*/
.caption{
    width: 100%;
    height: 55px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.644);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    letter-spacing: 2px;
}
.country-flag{
    height: 35px;
    pointer-events: none;
}
.country-name{
    margin-left: 12px;
}
.placeCont{
    width: 100%;
    height: 220px;
    background-color: rgba(236, 236, 236, 0.432);
}

.thirdplaces{
    height: 330px;
}
.place{
    width: 100%;
    height: 55px;
    border-top: 1px solid rgba(255,255,255,0.4);
    display: flex;
    align-items: center;
}
.placeCont, .placeCont>div:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.placeCont>div:last-child>.country{
    border-bottom-right-radius: 20px;
}
.placeCont>div:last-child::before{
    border-bottom-left-radius: 20px;
}
.place::before{
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
}
.place1::before, .place2::before, #place3-1::before, #place3-2::before, #place3-3::before, #place3-4::before, #place3-1copy::before, #place3-2copy::before, #place3-3copy::before, #place3-4copy::before{
    background-color: rgba(255, 255, 255, 0.644);
}
.place1::before, #place3-1::before ,#place3-1copy::before{
    content: "1";
}
.place2::before, #place3-2::before, #place3-2copy::before{
    content: "2";
}
.place3::before, #place3-3::before, #place3-3copy::before{
    content: "3";
}
.place3::before{
    background-color: rgba(255, 255, 255, 0.280);
}
.place4::before, #place3-5::before, #place3-6::before, #place3-5copy::before, #place3-6copy::before{
    background-color: rgba(236, 236, 236, 0);
}
.place4::before, #place3-4::before, #place3-4copy::before{
    content: "4";
}
#place3-5::before, #place3-5copy::before{
    content: "5";
}
#place3-6::before, #place3-6copy::before{
    content: "6";
}
.country{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    width: 245px;
    cursor: pointer;
    transition: all 0.5s;
    padding-left: 12px;
}
.country:hover{
    background-color: rgba(255,255,255,0.4);
}

.country-active{
    background-color: rgba(255,255,255,0.4);
}
.a .country{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.b .country{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.koGame .country{
    position: relative;
    width: 100%;
}
.koGame .country::after{
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.644);
    position: absolute;
    right: 10px;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]:checked + label .country{
    background-color: rgba(255, 255, 255, 0.6);
}
input[type="radio"]:checked + label .country::after{
    background-image: url("check.svg");
    border: none;
}
label .country:hover{
    background-color: rgba(255,255,255,0.4);
}
label .country{
    height: /*40px*/ 55px;
}
.koGame label{
    min-height: 55px;
    display: inline-block;
}

/*!BUTTONS*/
.submit{
    height: 50px;
    width: 250px;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s;
    position: relative;
    background-color: rgba(255,255,255,0.1);
    border: none;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.submit:hover, .submit:active, .submit:focus{
    letter-spacing: 4px;
    background-color: transparent;
}
.submit::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.submit:hover::before, .submit:active::before, .submit:focus::before{
    opacity: 1;
    transform: scale(1, 1);
}
#submit1{
    grid-column-start: 2;
}
#submit2{
    margin-top: 60px;
}

/*!SROLLBAR*/
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #ff7a22a1;
}
::-webkit-scrollbar-thumb {
    background: #ff7c22;
}

/*!MEDIA QUERIES*/
@media (min-width: 1800px) {
    .nav, .group, .place::before, .submit, .koGame label, .koGame .country{
        font-size: 1.3rem;
    }
    .place, .caption, .country, .place::before, .koGame label, .koGame .country, .submit{
        height: 65px;
    }
    .nav{
        padding: 15px 0;
    }
    .group{
        height: 325px;
        width: 330px;
    }
    .placeCont{
        height: 260px;
    }
    .place::before{
        width: 65px;
    }
    .country-name{
        margin-left: 15px;
    }
    .country{
        width: 265px;
        padding-left: 15px;
    }
    .thirdplacesGroup{
        height: 455px;
    }
    .thirdplaces{
        height: 390px;
    }
    .koGame{
        height: 130px;
    }
    .submit{
        width: 275px;
    }
    .koGame .country::after{
        right: 15px;
    }
}
@media (max-width: 1250px) {
    .groupCont {
        grid-template-columns: 1fr 1fr;
    }
    #submit1{
        grid-column: 1/3;
    }
    .koGame label p{
        display: none;
    }
    .nav{
        letter-spacing: 3px;
    }
}
@media (max-width: 1100px) {
    .nav{
        letter-spacing: 1px;
    }
}
@media (max-width: 900px) {
    .nav-list{
        align-content: stretch;
    }
    .list-item{
        flex: 1;
    }
}
@media (max-width: 800px) {
    .koLevel{
        display: none;
    }
    .koGame .country-flag,
    .koGame .country::after{
        height: 30px;
        width: 30px;

    }
    .koGame .country::after{
        top: 12px;
    }
    .groupCont{
        padding: 40px 5% 0;
    }
}
@media (max-width: 700px) {
    .groupCont .group{
        width: 250px;
    }
}
@media (max-width: 600px) {
    .koGame .country::after{
        display: none;
    }
    .koGame .country{
        justify-content: center;
        padding: 0;
    }
    .groupCont .group{
        width: 200px;
        height: 260px;
    }
    .groupCont .caption{
        height: 40px;
    }
}
@media (max-width: 550px) {
    .first-nav::after{
        content: "\a";
        white-space: pre;
    }
}
@media (max-width: 500px) {
    .groupCont .country-flag{
        height: 25px;
    }
    .groupCont .country-name{
        margin-left: 8px;
    }
    .groupCont .country{
        padding-left: 8px;
    }
    .groupCont .group{
        width: 180px;
    }
    .groupCont{
        padding: 0 2% 40px;
    }
    .groupCont{
        padding-top: 30px
    }
}
@media (max-width: 400px) {
    .groupCont .place::before{
        width: 50px;
        font-size: 1rem;
    }
    .groupCont .group{
        width: 160px;
    }
}
@media (max-width: 350px) {
    .nav{
        font-size: .9rem;
        line-height: 1.4;
    }
    .groupCont .country{
        font-size: .8rem;
    }
    .groupCont .group{
        width: 140px;
    }
}